# Sales Data Cleaning

In [1]:
import pandas as pd

## Read the input file

In [6]:
inputFile = pd.read_csv("../data/sales_for_data_cleaning.csv",delimiter=";")
display(inputFile)

,division,level of education,training level,work experience,salary,sales
0,peripherals,some college,1.0,6.0,87067,299066
1,printers,high school,3.0,7.0,98381,457597
2,office supplies,associate's degree,1.0,7.0,101528,383462
3,office supplies,associate's degree,0.0,9.0,98431,374972
4,printers,associate's degree,0.0,6.0,82072,239893
...,...,...,...,...,...,...
995,printers,some college,0.0,8.0,86830,304548
996,office supplies,some college,0.0,6.0,74973,266446
997,computer hardware,associate's degree,NaN,4.0,92837,385342
998,printers,some college,2.0,9.0,109429,467339
999,computer software,associate's degree,2.0,9.0,121058,450448

Lower devision

Filter lines with missing values

Fill missing values with avg